:root {
  --background-color: #272727;
  --text-color: #ffffff;
  --primary-color: #6eeb83;
}

.filter {
  box-shadow: 0 3px 2px -2px var(--primary-color);
  padding: 1em 1.5em;
  font-family: 'Poppins', sans-serif !important;
}

.transaction-form input:focus,
.transaction-form input:hover,
.ant-select-selector:focus,
.ant-select-selector:hover {
  border: 1px solid var(--primary-color) !important;
}

.transaction-form input,
.ant-select-selector,
.ant-select-selection-item::after {
  background-color: var(--background-color) !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}

.transaction-form label {
  color: var(--text-color) !important;
  font-family: 'Poppins', sans-serif;
}

.ant-modal-content,
.ant-modal-title {
  background-color: #272727 !important;
  color: var(--text-color) !important;
  font-family: 'Poppins', sans-serif !important;
}

.ant-modal-title {
  font-size: 1.7em !important;
}

.ant-modal-close-icon {
  color: white;
}

.ant-modal-close-icon:hover {
  color: white;
  opacity: 0.6;
}

.ant-table,
.ant-table-cell {
  background-color: var(--background-color) !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}

.ant-table-cell-row-hover {
  background-color: var(--background-color) !important;
  font-family: 'Poppins', sans-serif !important;
}

.ant-pagination-item {
  background-color: var(--background-color) !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--text-color) !important;
}

.ant-pagination-item-link {
  color: var(--primary-color) !important;
}

.ant-table-cell {
  font-size: 1.1em !important;
}

.ant-empty-description {
  font-family: 'Poppins', sans-serif !important;
  color: white !important;
}

.ant-select-selection-item {
  color: white !important;
}

.ant-select-arrow {
  color: white !important;
}

.edit-icon,
.delete-icon {
  font-size: 1.3em;
}

.edit-icon:hover {
  color: var(--primary-color) !important;
  cursor: pointer;
}

.delete-icon:hover {
  color: red !important;
  cursor: pointer;
}

.ant-message-notice-content {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  font-family: 'Poppins', sans-serif !important;
  -webkit-box-shadow: 0px 0px 160px 30px rgba(110, 235, 131, 0.6) !important;
  -moz-box-shadow: 0px 0px 160px 30px rgba(110, 235, 131, 0.6) !important;
  box-shadow: 0px 0px 160px 30px rgba(110, 235, 131, 0.6) !important;
}
